@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(/fonts/pt_sans.woff) format('woff'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v4/UyYrYy3ltEffJV9QueSi4aKMDwIKrnRjMtEm_ZQuMjU.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(/fonts/open_sans.woff) format('woff'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xPQd3qlve4PL-Wb1z1nySP33rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}

@import './font-awesome.css';