@import './variables'
@import './fonts'
@import './ui/inputs'

html, body
  margin: 0
  font: font-size/line-height font-main

.toplevel
  > .wrap
    width: 960px
    margin: 0 auto

header.toplevel
  background: color-text
  color: #fff
  line-height: 48px
  a
    color: #fff
    text-decoration: none
    &.active
      color: color-highlight
  nav
    float:right
    a + a
      margin-left: 16px
    i
      margin-right: 4px

footer.toplevel
  font-size: 12px
  color: #777