font-main = PT Sans, Open Sans, sans-serif
font-narrow = PT Sans Narrow, Open Sans Condensed, sans-serif
font-thin = Open Sans Condensed, sans-serif

font-size = 16px
line-height = 150%

color-highlight = #fff9a8
color-text = #333
color-focus = #189fcc