extends layout

block main
  section.toplevel
    .wrap
      h1 This is the index page.
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.
      a(href='/page/contacts') Contacts

