form.partial(method='post', action='/auth/login')
  .ctl-row
    label Username
    input#username(type='text')
  .ctl-row
    label Password
    input#username(type='password')
  .submits
    button.btn.primary(type='submit') Login

