extends wrap

block body
  section.toplevel
    .wrap
      h1 Awesome slide
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet.

block topnav
  nav
    a(href='/auth/login') Login
    a(href='/auth/signup') Signup