doctype html
html
  head
    block title
      title EmpDir FTW
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/main.css')
  body
    header.toplevel
      .wrap
        a(href='/') EmpDir
        nav#topnav
    #main
      block main
    footer.toplevel
      .wrap
        p 2014 &copy; EmpDir
    script.
      var require = {
        baseUrl: '/js',
        paths: {
          "jquery": 'lib/jquery',
          "backbone": "lib/backbone",
          "underscore": "lib/underscore",
          "jade": "lib/jade"
        }
      };

  block js
      