input[type='text'],
input[type='password'],
textarea
  display:inline-block
  border: 1px solid #ccc
  appearance: none
  font: font-size/line-height font-main
  font-weight: 300
  border-radius: 2px
  outline: none
  padding: 4px 6px
  &:focus
    border-color: color-focus
    box-shadow: 0 0 6px rgba(color-focus, .5)

